* {
    --color-yellow: #fffa00;
    --color-magenta: #d8209b;
    --color-blue: #0000d8;
    --color-green: #008200;
    --color-cyan: #26ff92;
    --color-black: #000000;
    --color-violet: #bf00ff;
    --color-crimson: #991900;
    --color-red: #ff003f;
    --color-lightblue: #3fb2ff;
}

.text-yellow {
    color: var(--color-yellow);
}

.text-magenta {
    color: var(--color-magenta);
}

.text-blue {
    color: var(--color-blue);
}

.text-green {
    color: var(--color-green);
}

.text-cyan {
    color: var(--color-cyan);
}

.text-lightblue {
    color: var(--color-lightblue);

}

.text-violet {
    color: var(--color-violet);

}

.text-crimson {
    color: var(--color-crimson);
}

.text-red {
    color: var(--color-red);
}

.text-white-custom {
    color: #ffffff;
}

.bg-yellow {
    background-color: var(--color-yellow);
}

.bg-magenta {
    background-color: var(--color-magenta);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-red {
    background-color: var(--color-red);
}

.bg-hover-red:hover {
    background-color: var(--color-red);
}

.text-hover-yellow:hover {
    color: var(--color-yellow);
}

.bg-active-red:active {
    background-color: var(--color-red);
}

body {
    font-family: 'Courier New', monospace;
}

.bg-custom-gradient {

    /* background: linear-gradient(to bottom, #000, #777); */
    background-color: #000000;
}

.fs-0 {
    font-size: 2.0rem;
}

.fs-00 {
    font-size: 2.5rem;
}

.fs-000 {
    font-size: 3.0rem;
}

.border-dashed {
    border-style: dashed;
}

.opacity-50 {
    opacity: 0.5;
}

.fs-7 {
    font-size: 0.9rem;
}

@media (min-width: 576px) {
    .fs-0 {
        font-size: 2.75rem;
    }

    .fs-00 {
        font-size: 3.25rem;
    }

    .fs-000 {
        font-size: 3.75rem;
    }
}

@media (min-width: 768px) {
    .fs-0 {
        font-size: 3.5rem;
    }

    .fs-00 {
        font-size: 4.0rem;
    }

    .fs-000 {
        font-size: 4.5rem;
    }
}
